*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}
html{
    /*background: #5F13AA;*/
}
h1{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}
.container_todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    background: #F3F7FA;
    border-radius: 15px;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
}
.name_of_column{
    margin-top: 21px;
    width: 360px;
}
.image_and_date{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 360px;
    height: 200px;
    margin-bottom: 14px;
    background-image: url("img/clip-done.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.cleaner_section{
    display: flex;
    justify-content: flex-end;
}
.cleaner{
    right: auto;
    background-image: url("img/transform.png");
    padding: 14px;
    width: 14px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cleaner:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: .6s;
}
.date{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.content{
    width: 360px;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.content_outside{
    padding: 18px;
}
.label{
    width: 45px;
    height: 3px;
    background: #FF3434;
    border-radius: 10px;
}
.delete{
    background-image: url("img/delete.png");
    width: 6px;
    padding: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.delete:hover{
    transition: .3s;
    cursor: pointer;
    background-image: url("img/delete_hover.png");
}
.title{
    margin: 5px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.title_item{
    display: flex;
    justify-content: space-between;
}
.text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #929292;
}
.button_open_form_add_task{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width: 140px;
    height: 45px;
    background-color: #2568EF;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-bottom: 18px;
}

.button_open_form_add_task:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #1445A7;
}
/*--------------------new-task----------------------*/

.form_add{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #F3F7FA;
    box-shadow: 0px 4px 150px rgba(55, 105, 151, 0.3);
    border-radius: 15px;
}
textarea, input{
    padding: 10px 3px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    border: none;
    width: 360px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.button_form_add_task{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    background-color: #efb92f;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.button_form_add_task:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #A67E22;
}
#overlay {
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
}